<section id="half-inverted-panel">
    <div>
        <h2>Choque de Regiones</h2>
        <p>Vive un evento especial con misiones exclusivas, skins legendarias y recompensas limitadas. Forma escuadra y representa tu region.</p>
        <a href="#">Unirme al Evento</a>
    </div>
    <div>
    <img src="" alt="" />
    </div>
</section>