<header>
    <a href="#">League of Legends</a>
    <nav aria-label="Main navigation">
        <a href="#">Inicio</a>
        <a href="#cards">Roles</a>
        <a href="#half-inverted-panel">Regiones</a>
    </nav>
    <button>Jugar Ahora</button>
</header>