<header>
    <div>
        <h1><a href="#">League of Legends</a></h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#cards">Roles</a></li>
                <li><a href="#half-inverted-panel">Regiones</a></li>
            </ul>
        </nav>
    </div>
</header>